@import "./variables";

.carrito{
    height: auto;

}

.cart{
    background-color: #fff;
    padding: 2rem 4rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    body.dark &{
        background-color: $blue-t;
    }

}

#cart-close{
    color: $black;
    font-size: 2rem;
    cursor: pointer;
    margin: 0 1.5rem;
    position: absolute;
    top: 1rem;
    right: 1rem;
    border: .2rem solid $black;
    border-radius: .25rem;

    body.dark &{
        color: #fff;
    border: .2rem solid #fff;

    }
}

.cart-title{
    text-align: center;

    h2{
        font-size: $h2-font;
        font-weight: 500;

        body.dark &{
            color: #fff;
        }
    }
}

.prod{
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 4rem;
    margin-bottom: 3rem;
    padding-bottom: 2rem;
    border-bottom: 1px solid #a3a3a3;

    @include extra{
        grid-template-columns: repeat(4, 100px);
        
    }

    @include laptop{
        grid-template-columns: repeat(4, 120px);
        column-gap: 8rem;
    }

    @include tablet{
        grid-template-columns: repeat(4, 100px);
        column-gap: 5rem;
    }

    @include mobile{
        column-gap: 3rem;
    }

    &__img{
        height: 15rem;
        // width: auto;

        @include laptop{
            height: 20rem;
        }

        @include tablet{
            height: 10rem;
        }
    }

    &__content{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 15rem;

        body.dark &{
            color: #fff;
        }

        &__title{
            font-size: 2rem;
            padding-bottom: .5rem;

            @include laptop{
                font-size: 3rem;
            }
        }
        &__price{
            font-size: 2rem;

            @include laptop{
                font-size: 3rem;
            }
        }
    }

    &__quantity{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-left: 2rem;

        &__num{
            font-size: 2rem;
            color: black;

            body.dark &{
                color: #fff
            }

            @include laptop{
                font-size: 3rem;
            }
        }

        &__btn{
            @extend .icons;
            cursor: pointer;

        }

    }

    &__remove{
        @extend .icons;
        cursor: pointer;

    }   
}

.cart-text{
    font-size: 2rem;
    text-align: center;
    padding: 4rem 0;
    color: $black;

    body.dark &{
        color: #fff;
    }
}

.details{
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 1rem 0;

    body.dark &{
        color: #fff;
    }

    &__text{
        font-size: 3rem;
        font-weight: bold;
        text-transform: uppercase;

        @include laptop{
            font-size: 3.5rem;
        }
    }

    &__total{
        font-size: 2.5rem;

        @include laptop{
            font-size: 3.5rem;
        }
    }


}

.btn-footer{
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding-top: 1rem;
    column-gap: 4rem;

    &__item{
        @extend .btn;

        @include laptop{
            font-size: 2.5rem;
        }

    }

}

.item{
    padding: 2rem 5rem;
    display: flex;
    justify-content: space-between;
    position: relative;
}

.cart-empty{
    color: $main-color;
    font-size: $h2-font;
    font-weight: 400;
}