@import "./variables";
@import "./responsive";

.articulo{
    padding: 4rem 10%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.articulo-text{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    body.dark &{
        color: #fff;
    }

    span{
        font-size: $h2-font;
    }

    h2{
        color: $main-color;
        font-size: $h2-font;
        font-weight: 400;

        body.dark &{
            color: $light-blue;
        }
    }
}

.options{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;

}

.box{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: auto;
    margin: 6rem 4rem;
    border-radius: .5rem;
    box-shadow: 0 .4rem 3rem 0 rgba(0,0,0,0.16);
    transition: 0.5s ease;
    padding: 1rem;
    row-gap: .5rem;

    body.dark &{
        color: #fff;
        background-color: $dark-blue;
    }

    h2{
        font-size: 2rem;
        margin-bottom: .5rem;

        @include large{
            font-size: 3rem;
        }

    }

    h3{
        font-size: 1.5rem;
        font-weight: 400;
        margin-bottom: .5rem;

        @include laptop{
            font-size: 2rem;
        }

        @include large{
            font-size: 2.5rem;
        }
    }

    span{
        font-size: $p-font;

        @include laptop{
            font-size: 2rem;
        }

        @include large{
            font-size: 2.5rem
        }
    }

    a{
        @extend .btn;

        &:hover{
            background-color: #6a6f8f;
        }

        @include laptop{
            font-size: 2rem;
        }
    }

}

.box-img{
    width: 20rem;
    height: 20rem;
    margin-bottom: .5rem;

    img{
        width: 100%;
        height: 100%;
        object-fit: contain;
        object-position: center;
    }
}

.box:hover{
    transform: translateY(-1rem);
}